<div [style.background]="ServiceService.boldColor" class="footer1 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h5>{{'START FIRST 30 DAYS.'|translate}}
                </h5>
                <p>{{'Enter your email to create or restart your membership.'|translate}}
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex w-100">
                   <!-- <div class="footer-input"> -->
                       <input type="text" class="w-75" placeholder="{{'Enter Your Email'|translate}}">
                   <!-- </div> -->
                   <!-- <div class="footer-btn"> -->
                       <button [style.background]="ServiceService.globalColor" class="w-25" type="button">{{'GET STARTED'|translate}}</button>
                   <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>



<div [style.background]="ServiceService.globalColor" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-3 col-md-2">
                <h5>{{'MOVIES'|translate}}</h5>
            </div>
            <div class="col-8 col-sm-10 col-md-10">
                <ul>
                    <li>
                        <a>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </li>
                    <div class="clearfix"></div>


                </ul>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="fixed-item">
        <a href="#" class="scrollToTop" [style.background]="ServiceService.globalColor">
        <!-- <i class="fas fa-arrow-up"></i> -->
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"/></svg>
        </a>
    </div>
</div>
